<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}

<main class="main">
  <!-- ASIDE DE CATALOGO -->
  <aside clas>
    <div id="categoria">
      <h1>Redes Bayesianas</h1>
      <div id="recuadro2"></div>
      <ul>
        <li><a href="RedesBayesianas">Definición</a></li>
        <li><a href="Historia">Historia</a></li>
        <li><a href="InferenciaAprendizaje">Inferencia de aprendizaje</a></li>        
        <li><a href="ClasificadoresBayesianos">Clasificadores bayesianos</a></li>
      </ul>
    </div>
  </aside>

  <section id="articulosprincipales">
    <article id="compra">
      <h2 class="title-neutrosofia">CLASIFICADORES BAYESIANOS</h2>
      <div id="recuadro3"></div>
    </article>

    <article id="productos">
      <div id="celulares">
        <div id="slider">
          <div class="recuadro">
            <img src="imagenes/productos/celulares/A12.jpg" alt="" />
            <div class="infoProducto">
              <p class="parrafo-text">
                Un clasificador es una función que asigna un valor de un atributo,
                 llamado clase, a instancias o ejemplos descritos mediante un conjunto
                  de atributos. Cuando una red bayesiana se construye con la finalidad
                   de predecir el valor de una variable clase dada cualquier configuración 
                   en el resto de las variables, se tiene un "clasificador bayesiano".                
              </p>
              <p class="parrafo-text">
                Los clasificadores bayesianos son ampliamente utilizados debido a que presentan ciertas ventajas: 
                <ol start="1">
                    <li class="list-Redes">
                        Generalmente, son fáciles de construir y de entender.
                    </li>
                    <li class="list-Redes">
                        Las inducciones de estos clasificadores son extremadamente rápidas, requiriendo sólo un paso para hacerlo.
                    </li>
                    <li class="list-Redes">
                        Es muy robusto considerando atributos irrelevantes.
                    </li>
                    <li class="list-Redes">
                        Toma evidencia de muchos atributos para realizar la predicción final.
                    </li>
                  </ol>             
              </p>
              <p class="parrafo-text">
                Un sistema experto puede ser utilizado como clasificador. Así por ejemplo, un sistema experto en un hospital 
                para determinar que para un conjunto de síntomas presentados por un individuo, no es probable que exista cáncer. 
              </p>
              <p class="parrafo-text">
                O bien, el sistema experto para ayuda a la decisión en una entidad financiera aconsejar no otorgar un préstamo a 
                un cliente porque la probabilidad de impago sea muy elevada, a partir de una serie de atributos, fundamentalmente 
                financieros, del mismo.
              </p>
              <p class="parrafo-text">
                Un clasificador bayesiano que suele ser bastante preciso a pesar de su simplicidad es el "clasificador bayesiano simple"
              </p>
              <p class="parrafo-text">
                La estructura de esta red bayesiana se basa en una fuerte restricción: todos los atributos que describen los casos son
                 independientes entre sí dado el valor de la clase
              </p>
              <img
                src="/static/imagenes/clasificadores.png"
                width=484px;
                height=263px;
                style=" margin-left: 149px; border-radius: 48px ; margin-top: 30px;"               
              />
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  
</main>
{% endblock%}