<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}
<main class="main">
  <!-- ASIDE DE CATALOGO -->
  <aside clas>
    <div id="categoria">
      <h1>Neutrosofia</h1>
      <div id="recuadro2"></div>
      <ul>
        <li><a href="Neutrosofia">Definión</a></li>
        <li><a href="NeutrosofiaHistoria">Historia</a></li>
        <li><a href="LogicaNeutrosofica">Lógica Neutrosófica</a></li>
        <li><a href="ConjuntoNeutrosofico">Conjunto Neutrosófico</a></li>
        <li>
          <a href="probabilidadNeutrosofica">Probabilidad Neutrosófica</a>
        </li>
        <li><a href="estadisticasNeutrosofica">Estadística Neutrosófica</a></li>
        <li>
          <a href="CaracteristicaNeutrosofia"
            >Características del razonamiento de la Neutrosofía</a
          >
        </li>
      </ul>
    </div>
  </aside>

  <section id="articulosprincipales">
    <article id="compra">
      <h2 class="title-neutrosofia">CONJUNTOS NEUTROSÓFICO</h2>
      <div id="recuadro3"></div>
    </article>

    <article id="productos">
      <div id="celulares">
        <div id="slider">
          <div class="recuadro">
            <img src="imagenes/productos/celulares/A12.jpg" alt="" />
            <div class="infoProducto">
              <p class="parrafo-text">
                Es una generalización de conjunto borroso(espacialmente de
                conjunto intuicionistico borroso). Deja ser U un universo de
                discurso, y M un conjunto incluido en U. Un elemento x de U es
                notado en respeto del conjunto M como x(T, I, F)y pertenece a M
                en el modo siguiente:
              </p>
              <p class="parrafo-text">
                Es t% verdad en el conjunto, i% indeterminante (desconocido si
                sea) en el conjunto, y f% falso, donde t varia en T, i varia en
                I, f varia en F.
              </p>
              <p class="parrafo-text">
                Estadísticamente T, I, F son subconjuntos, pero dinámicamente T,
                I, F son funciones/operaciones dependiente de muchos parámetros
                desconocidos o conocidos.
              </p>
              <img
                src="/static/imagenes/conjuntoneu.png"
                width="370px;"
                height="300px;"
                style="
                  margin-left: 265px;
                  margin-top: 30px;
                  margin-bottom: 30px;
                  height: 350px;
                  width: 300px;
                "
              />
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>

{% endblock%}
