<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}
<main class="main">
  <!-- ASIDE DE CATALOGO -->
  <aside clas>
    <div id="categoria">
      <h1>Neutrosofia</h1>
      <div id="recuadro2"></div>
      <ul>
        <li><a href="Neutrosofia">Definión</a></li>
        <li><a href="NeutrosofiaHistoria">Historia</a></li>
        <li><a href="LogicaNeutrosofica">Lógica Neutrosófica</a></li>
        <li><a href="ConjuntoNeutrosofico">Conjunto Neutrosófico</a></li>
        <li>
          <a href="probabilidadNeutrosofica">Probabilidad Neutrosófica</a>
        </li>
        <li><a href="estadisticasNeutrosofica">Estadística Neutrosófica</a></li>
        <li>
          <a href="CaracteristicaNeutrosofia"
            >Características del razonamiento de la Neutrosofía</a
          >
        </li>
      </ul>
    </div>
  </aside>

  <section id="articulosprincipales">
    <article id="compra">
      <h2 class="title-neutrosofia">ESTADÍSTICA NEUTROSÓFICA</h2>
      <div id="recuadro3"></div>
    </article>

    <article id="productos">
      <div id="celulares">
        <div id="slider">
          <div class="recuadro">
            <img src="imagenes/productos/celulares/A12.jpg" alt="" />
            <div class="infoProducto">
              <p class="parrafo-text">
                Es el análisis de acontecimientos descritos por la probabilidad
                neutrosófica. Es una generalización de estadísticas clásicas.
              </p>              
              <p class="parrafo-text">
                La función que modela la probabilidad neutrosófica de un
                variable al azar x se llama distribución neutrosófica: NP(x)=
                (T(x), I(x), F(x)), donde T(x) representa la probabilidad que
                vale x ocurre, F(x) representa la probabilidad que vale x no
                ocurre, y I(x) representa el indeterminante /desconocida
                probabilidad de valor x.
              </p>
              <img
                src="/static/imagenes/estadisticaNeutro.png"
                width="370px;"
                height="300px;"
                style="
                  margin-left: 257px;
                  margin-top: 30px;
                  margin-bottom: 30px;
                  border-radius: 33px;
                "/>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>

{% endblock%}
