<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}

<main class="main">
  <!-- ASIDE DE CATALOGO -->
  <div id="categoria">
    <h1>Neutrosofia</h1>
    <div id="recuadro2"></div>
    <ul>
      <li><a href="Neutrosofia">Definión</a></li>
      <li><a href="NeutrosofiaHistoria">Historia</a></li>
      <li><a href="#slider">Lógica Neutrosófica</a></li>
      <li><a href="cocinas.html">Cocinas</a></li>
      <li><a href="televisores.html">Televisores</a></li>
      <li><a href="impresoras.html">Impresoras</a></li>
    </ul>
  </div>

  <section id="articulosprincipales">
    <article id="compra">
      <h2>LÓGICA NEUTROSOFICA</h2>
      <div id="recuadro3"></div>
    </article>

    <article id="productos">
      <div id="celulares">
        <div id="slider">
          <div class="recuadro">
            <img src="imagenes/productos/celulares/A12.jpg" alt="" />
            <div class="infoProducto">
                <p>
                    Una opción son las lógicas que existen, como opciones a las
                    lógicas existentes, se recomienda la Lógica Neutrosófica para
                    exponer un modelo matemático de incertidumbre también de
                    vaguedad, ambigüedad, imprecisión, indefinido, desconocido,
                    incompletitud, inconsistencia, redundancia, contradicción y fue
                    creada por Florentín Smarandache (1995) y es una extensión /
                    combinación de la Lógica Difusa (LD), lógica intuicionista,
                    lógica para consistente, y las lógicas de tres valores que
                    utilizan un valor indeterminado. En la lógica Neutrosófica, de
                    un hábito fácil. De la forma, las variables lógica x es descrita
                    por un triple ordena de X= (t, i, f) donde t es el grado de
                    verdad, f es el grado de falso y i es el nivel de
                    indeterminación y la definición lógica en la que se estima que
                    cada proposición tiene el porcentaje de verdad en un subconjunto
                    T, el porcentaje de indeterminación en un subconjunto I, y el
                    porcentaje de falsedad en un subconjunto F, donde T, I, F se
                    llama Lógica Neutrosófica.
                  </p>
                  <p>
                    Es el proceso básico que permite, fusionar las lógicas
                    existentes en la actualidad como es la Lógica Difusa, la
                    intuicionista, lo que busca como finalidad la Neutrosofía es
                    definir que cada declaración, sea colocada en un intervalo
                    neutrosófico (Florentin, Mohamed, & Yongquan, 2017).
                  </p>
                  <p>
                    Usamos un subconjunto de verdad (o indeterminación, o falsedad),
                    en lugar de solo un número, porque en muchos casos no somos
                    capaces de determinar exactamente los porcentajes de verdad y
                    falsedad, sino de Apúntelos: por ejemplo, una proposición es
                    entre 30-40% verdadera y entre 60 - 70% falso, incluso peor:
                    entre 30 - 40% o 45 - 50% de verdad (según varios analizadores),
                    y 60% o entre el 66% - 70% de falso.
                  </p>
                  <p>
                    Los subconjuntos no son intervalos necesarios, pero cualquier
                    conjunto (discreto, continuo, abierto o cerrado o intervalo
                    medio abierto / semicerrado, intersecciones o uniones de los
                    conjuntos anteriores, etc.) de acuerdo con la proposición dada.
                    Un subconjunto puede tener un elemento solo en casos especiales
                    de esta lógica. Constantes: (T, I, F) valores de verdad, donde
                    T, I, F son subconjuntos estándar o no estándar de los no
                    intervalos estándar intervalo ] -0, 1 + [, donde: ninf = inf T +
                    inf I + inf F ≥0, y nsup = sup T + sup I + sup F ≤ 3 +. Fórmulas
                    atómicas: a, b, c,. Y Fórmulas arbitrarias: A, B, C. La Lógica
                    Neutrosófica es un marco formal que trata de medir la verdad, la
                    indeterminación y la falsedad. La hipótesis es que ninguna
                    teoría está exenta de paradojas, debido al lenguaje imprecisión,
                    expresión metafórica, varios niveles o metaniveles de
                    Comprensión / interpretación que podría superponerse.
                  </p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  {% endblock%}
</main>
