<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}

<main class="main">
  <!-- ASIDE DE CATALOGO -->
  <div id="categoria">
    <h1>Neutrosofia</h1>
    <div id="recuadro2"></div>
    <ul>
      <li><a href="Neutrosofia">Definión</a></li>
      <li><a href="#slider">Historia</a></li>
      <li><a href="LogicaNeutrosofica">Lógica Neutrosófica</a></li>
      <li><a href="cocinas.html">Cocinas</a></li>
      <li><a href="televisores.html">Televisores</a></li>
      <li><a href="impresoras.html">Impresoras</a></li>
    </ul>
  </div>

  <section id="articulosprincipales">
    <article id="compra">
      <h2>HISTORIA</h2>
      <div id="recuadro3"></div>
    </article>

    <article id="productos">
      <div id="celulares">
        <div id="slider">
          <div class="recuadro">
            <img src="imagenes/productos/celulares/A12.jpg" alt="" />
            <div class="infoProducto">
              <p>
                Se ha presentado una base natural para realizar matemáticamente
                los fenómenos Neutrosófico de manera generalizada en el mundo
                existente se ha sentado información de bases para nuevas teorías
                como lo indica (Smarandache & Pramanik, 2013): “En 1995,
                Smarandache habló por primera vez acerca de la Neutrosofía en
                1999 y 2005 inició la teoría del conjunto de neutrosóficos como
                una nueva herramienta matemática para el manejo de problemas que
                involucran datos imprecisos, indeterminados e inconsistentes”
              </p>
              <p>
                La palabra Neutrosofía en vocablos en Francés que significa
                neutre y en América neutro y en griego
                sophia(habilidad/sabiduría) y su significado es el conocimiento
                del pensamiento neutro y algunos derivos se menciona a continuación: neutrosófico, neutrosóficación,
                neutrosóficador, deneutrosoficación. El Principio la Neutrosofía es de una idea <A>, y lo
                opuesto <Anti-A>, por lo que hay un espectro de potencia y de continuidad de
                neutralidades<Neut -A>, y sus tesis fundamental de Neutrosófia nos referencia que
                cualquier idea <A> es T% verdadero, I% indeterminaste y F% Falso, en su abreviación T,
                I, F ⊃ ]-0, 1+ [. El estudio es para reflejar mejor el mundo, ya que las neutralidades juegan
                un papel importante. La síntesis Neutrosófico (neutro síntesis) se menciona que es más
                refinada que la síntesis dialéctica su unificación con la síntesis con respecto a lo opuesto
                y sus neutralidades también. 
              </p>
              <p>
                Variantes informales de este tipo de redes se utilizaron por
                primera vez por el jurista John Henry Wigmore, en forma de
                grafos de Wigmore, para analizar la evidencia en un juicio en
                1913.
              </p>
              <p>
                Otra variante, llamada diagrama de rutas, fue desarrollada por
                el genetista Sewall Wright​ y utilizado en ciencias de la
                conducta y sociales (en su mayoría con modelos paramétricos
                lineales).
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  {% endblock%}
</main>
