<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}
<main class="main">
  <!-- ASIDE DE CATALOGO -->
  <aside clas>
    <div id="categoria">
      <h1>Neutrosofia</h1>
      <div id="recuadro2"></div>
      <ul>
        <li><a href="Neutrosofia">Definión</a></li>
        <li><a href="NeutrosofiaHistoria">Historia</a></li>
        <li><a href="LogicaNeutrosofica">Lógica Neutrosófica</a></li>
        <li><a href="ConjuntoNeutrosofico">Conjunto Neutrosófico</a></li>
        <li>
          <a href="probabilidadNeutrosofica">Probabilidad Neutrosófica</a>
        </li>
        <li><a href="estadisticasNeutrosofica">Estadística Neutrosófica</a></li>
        <li>
          <a href="CaracteristicaNeutrosofia"
            >Características del razonamiento de la Neutrosofía</a
          >
        </li>
      </ul>
    </div>
  </aside>

  <section id="articulosprincipales">
    <article id="compra">
      <h2 class="title-neutrosofia">PROBABILIDAD NEUTROSÓFICA</h2>
      <div id="recuadro3"></div>
    </article>

    <article id="productos">
      <div id="celulares">
        <div id="slider">
          <div class="recuadro">
            <div class="infoProducto">
              <p class="parrafo-text">
                Es una generalización de la probabilidad clásica y la
                probabilidad imprecisa en que la casualidad que un
                acontecimiento A ocurre es t% verdad-donde t varia en el
                subconjunto T, i% indeterminante donde i varia en el subjunto I,
                y f%falso-donde f varia en el subconjunto F.
              </p>
              <p class="parrafo-text">
                En la probabilidad clásica n_sup<=1, mientras en probabilidad
                neutrosófica n_sup<=3+.
                <br />En la probabilidad imprecisa: <br />La probabilidad de un
                acontecimiento es un subconjunto T en [0,1] no un número P en
                [0,1], que queda, es suponido ser el opuesto, subconjunto
                F(también de intervalo de unidad [0,1]); no hay ningún
                subconjunto indeterminante I la probabilidad imprecisa.
                filosofía, lógica, teoría de conjuntos, probabilidad y
                estadística la teoría Neutrosófica aplicada en diferentes campos
                para resolver problemas relacionados con la indeterminación.
              </p>
              <img
                src="/static/imagenes/probabilidadneuto.png"
                width="370px;"
                height="300px;"
                style="
                  margin-left: 250px;
                  margin-top: 30px;
                  margin-bottom: 30px;
                  border-radius: 53px;
                "
              />
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>

{% endblock%}
