{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
  <h1 class="ps-principal-title">TUTOR INTELIGENTE</h1>
  <p class="lead">
    Prototipo de un tutor inteligente para el desarrollo de sistemas de
    razonamiento apróximado bajo incertidumbre en Python
  </p>
  <h1 class="ps-principal-title">ANTECEDENTES DEL ESTUDIO</h1>
  <p class="parrafo-acerca">
    COVID-19 El coronavirus es la patología causada por el nuevo covid-19
    conocido como SARS-CoV-2. La Organización Mundial de la Salud tuvo noticia
    por primera ocasión de la vida de este nuevo virus el 31 de diciembre de
    2019, al ser informada de un conjunto de casos de «neumonía vírica» que se
    habían proclamado en Wuhan (República Famosa China). (Organización Mundial
    de la Salud, 2021). Sintomatología COVID-19 Las personas con estos síntomas
    podrían tener COVID-19: Fiebre o escalofríos, tos, dificultad para respirar
    (sentir que le falta el aire), fatiga, dolores musculares y corporales,
    dolor de cabeza, pérdida reciente del olfato o el gusto, dolor de garganta,
    congestión o moqueo, náuseas o vómitos y diarrea (Centros para el Control y
    la Prevención de Enfermedades, 2020).
  </p>
  <h1 class="ps-principal-title">OBJETIVOS DE LA INVESTIGACIÓN</h1>
  <h1 class="ps-secundary-title">Objetivo General</h1>
  <p class="parrafo-acerca">
    • Desarrollar un prototipo de un tutor inteligente para el desarrollo de
    sistemas de razonamiento aproximado bajo incertidumbre en Python
  </p>
  <h1 class="ps-secundary-title">Objetivos Específicos</h1>
  <p class="parrafo-acerca">
    • Obtener por medio de información bibliográfica información relevante
    respecto a los modelos bajo incertidumbre tales como Reyes bayesianas,
    Lógica difusa y Neutrosofia para identificar los aspectos claves que sean de
    utilidad en la creación del tutor inteligentes educativo.
    <br />
    • Analizar el dataset de la sintomatología de COVID en los pulmones bajo un
    proceso KDD para detectar patrones de razonamiento aproximado bajo
    incertidumbre.
    <br />
    • Desarrollar un prototipo del tutor inteligente educativo empleando
    herramientas open Source en Pycaret para la modelación de la incertidumbre
    en base a técnicas Reyes Bayesianas, Lógica Difusa y Neutrosofia.
  </p>
  <h1 class="ps-principal-title">METODOLOGÍA A EMPLEARSE</h1>
  <h1 class="ps-secundary-title">Importación y Muestreo de datos:</h1>
  <p class="parrafo-acerca">
    En esta etapa se prioriza y define las variables en el proceso KDD para
    crear un conjunto de datos o una muestra representativa del mismo (Ávila &
    Zoller, 2021). Para este trabajo de investigación se buscó un dataset para
    la realización del muestreo de datos acerca del COVID-19, el cual ayudará en
    el análisis de las variables de país/ región, confirmado, recuperado,
    activo, nuevos casos, nuevo recuperado, muertes/ 100 casos y recuperado/ 100
    casos.
  </p>
  <h1 class="ps-secundary-title">Calidad de datos:</h1>
  <p class="parrafo-acerca">
    Este proceso estándar produce información esencial para el análisis de datos
    y la evaluación del modelo. Los ingenieros toman una pequeña cantidad de
    datos y preservan su integridad durante la reducción de datos. Durante esta
    minería, el equipo puede usar redes neuronales u otras formas de aprendizaje
    automático. Las estrategias pueden incluir reducción de tamaño, reducción de
    tamaño o compresión de datos (Data Mining Process, 2021). En esta etapa se
    filtrará las variables del dataset COVID-19, las cuales son prioritarios y
    las que no se eliminará para poder obtener un mejor resultado acerca de la
    sintomatología del coronavirus y cumplir con los objetivos anteriormente
    planteados en este proyecto.
  </p>
  <p></p>
  <h1 class="ps-secundary-title">Modelización:</h1>
  <p class="parrafo-acerca">
    Identifica patrones usando algoritmos (ALTERTECNIA, 2022). Es la parte más
    esencial de los pasos debido a que se analizará los algoritmos que van hacer
    implementados en el prototipo de esta investigación los cuales serían Redes
    Bayesianas, Lógica Difusa y Neutrosofía.
  </p>
  <h1 class="ps-secundary-title">Evaluación:</h1>
  <p class="parrafo-acerca">
    Determinar si y en qué medida los resultados de un modelo en particular
    contribuyen al logro de los objetivos. Suele haber una fase iterativa para
    encontrar el mejor algoritmo para lograr los mejores resultados (Ekaterina,
    2021). En este prototipo se realizará distintas pruebas al prototipo para
    obtener buenos resultados y poder ayudar en la disminución de incertidumbre
    en la sintomatología del COVID-19.
  </p>
  <h1 class="ps-principal-title"></h1>
</div>

{% endblock%}
