<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}
<div class="content-initial-2">
  <h1 class="title-info">PROYECTO DE TITULACIÓN</h1>

  <h1 class="title-info">UNIVERSIDAD DE GUAYAQUIL</h1>
  <h1 class="title-info">
    Prototipo Tutor Inteligente para el desarrollo de Sistemas de Razonamiento
    Aproximado bajo incertidumbre en Python
  </h1>

  <div class="noticias">
    <div id="tab1" class="tab1">
      <div class="blog-not">
        <div class="cont">
          <div class="contenido">
            <div class="info">
              <h2 class="title">
                <a href="Neutrosofia"
                  >TUTOR: <br />
                  Ing. Lorenzo Jeovanny Cevallos Torres</a
                >
              </h2>
              <p class="description-info">
                Lorenzo, Catedratico de Probabilidad y Estadística e
                Investigación de Operaciones de la Universidad de Guayaquil.
                <br />
                Culminó sus estudios en la Escuela Superior Politecnica con el
                titulo de ingeniero en estadistica informática, obtuvo el titulo
                de Magister en gestión de la productividad y la calidad en la
                Escuela Superior Politecnica y Master Universitario en modelado
                computacional en ingenieria.
              </p>
              <div>
                <img
                  class="img-dest-info"
                  alt="Información"
                  style="border: 0; width: 100%"
                  src="/static/imagenes/ing.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-not">
        <div class="cont">
          <div class="contenido">
            <div class="info">
              <h2 class="title">
                <a href="Neutrosofia"
                  >DESARROLLADORES: <br />
                  Carol Denisse Tutiven Tumbaco</a
                >
              </h2>
              <p class="description-info">
                Carol, Edad 25 años, nacionalidad Ecuatoriana, Estudiante de la
                Facultad de Matemáticas Ciencias y Físicas de la Carrera de
                Ingenieria en Sistemas Computacionales. <br />
                Apasionada por la lectura y los diseños web, actualmente se
                desempeña en el ámbito laboral de desarrolladora web.<br />
                Unos de sus propósitos es obtener su título universitario con
                mucho esfuerzo y dedicación y seguir ampliando sus
                conocimientos.
              </p>
              <div>
                <img
                  class="img-dest-info"
                  alt="Información"
                  style="border: 0; width: 100%"
                  src="/static/imagenes/carol.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-not">
        <div class="cont">
          <div class="contenido">
            <div class="info">
              <h2 class="title">
                <a href="Neutrosofia"
                  >DESARROLLADORES: <br />
                  Joseph Andre Mendez Mora</a
                >
              </h2>
              <p class="description-info">
                Joseph, nació en Guayaquil tiene 25 años, nacionalidad
                Ecuatoriana, es Estudiante de la Facultad de Matemáticas
                Ciencias y Físicas de la Carrera de Ingenieria en Sistemas
                Computacionales. <br />
                Es apasionado por la tecnologia y videojuegos.<br />
                Actualmente trabaja en el ámbito informático es desarrollador y
                desea seguir aprendiendo más sobre temas informaticos e
                inteligencia Artificial.
              </p>
              <div>
                <img
                  class="img-dest-info"
                  alt="Información"
                  style="border: 0; width: 100%"
                  src="/static/imagenes/joseph.jpeg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <h1>TUTOR:</h1>
  <img src="/static/imagenes/logo.png" width="100px" height="64px" />
  <p>
    ING. LORENZO JEOVANNY CEVALLOS TORRES<br />

    Cédula 0914517966<br />
    Género Masculino<br />
    Nacionalidad Ecuatoriana<br />
    Email lorenzo.cevallost@ug.edu.ec<br />
    Email institucional lorenzo.cevallost@ug.edu.ec<br />
    Organización UNIVERSIDAD DE GUAYAQUIL<br />
    Palabra primaria Ciencias Físicas y Matemáticas<br />
    Palabra secundaria Estadística y Probabilidad<br />
    Palabras específicas EDUCACIÓN<br />
  </p>

  <h1>DESARROLLADORES:</h1>
  <img src="/static/imagenes/logo.png" width="100px" height="64px" />
  <p>CAROL TUTIVEN TUMBACO</p>

  <img src="/static/imagenes/logo.png" width="100px" height="64px" />
  <p>JOSEPH MENDEZ MORA</p> -->
</div>
{% endblock%}
