<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h1>PROYECTO DE TITULACIÓN UNIVERSIDAD DE GUAYAQUIL</h1>
<h1>Tutor Inteligente</h1>

<h1>TUTOR:</h1>
<img src="/static/imagenes/logo.png" width="100px" height="64px" />
<p>ING. LORENZO JEOVANNY CEVALLOS TORRES<br/>


Cédula 0914517966<br/>
Género Masculino<br/>
Nacionalidad Ecuatoriana<br/>
Email lorenzo.cevallost@ug.edu.ec<br/>
Email institucional lorenzo.cevallost@ug.edu.ec<br/>
Organización UNIVERSIDAD DE GUAYAQUIL<br/>
Palabra primaria Ciencias Físicas y Matemáticas<br/>
Palabra secundaria Estadística y Probabilidad<br/>
Palabras específicas EDUCACIÓN<br/>
</p>


<h1>DESARROLLADORES:</h1>
<img src="/static/imagenes/logo.png" width="100px" height="64px" />
<p>CAROL TUTIVEN TUMBACO</p>

<img src="/static/imagenes/logo.png" width="100px" height="64px" />
<p>JOSEPH MENDEZ MORA</p>

{% endblock%}
