<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<!-- ASIDE DE CATALOGO -->
<div id="categoria">
    <h1>Lógica Difusa</h1>
    <div id="recuadro2"></div>
    <ul>
        <li><a href="#slider">Celulares y Tablets</a></li>
        <li><a href="motos.html">Motos</a></li>
        <li><a href="computadoras.html">Computadoras</a></li>
        <li><a href="cocinas.html">Cocinas</a></li>
        <li><a href="televisores.html">Televisores</a></li>
        <li><a href="impresoras.html">Impresoras</a></li>
    </ul>
</div>


{% endblock%}