<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}
<main class="main">
  <!-- ASIDE DE CATALOGO -->
  <div id="categoria">
    <h1>Neutrosofia</h1>
    <div id="recuadro2"></div>
    <ul>
      <li><a href="#slider">Definión</a></li>
      <li><a href="NeutrosofiaHistoria">Historia</a></li>
      <li><a href="LogicaNeutrosofica">Lógica Neutrosófica</a></li>
      <li><a href="cocinas.html">Cocinas</a></li>
      <li><a href="televisores.html">Televisores</a></li>
      <li><a href="impresoras.html">Impresoras</a></li>
    </ul>
  </div>

  <section id="articulosprincipales">
    <article id="compra">
      <h2>NEUTROSOFIA</h2>
      <div id="recuadro3"></div>
    </article>

    <article id="productos">
      <div id="celulares">
        <div id="slider">
          <div class="recuadro">
            <img src="imagenes/productos/celulares/A12.jpg" alt="" />
            <div class="infoProducto">
              <p>
                La Neutrosofía es una de las ramas de la filosofía que está en
                las diferentes materias como es matemática, física, etc., para
                coger esas ideas vagas al escoger una de ellas tener una mejor
                solución cortas en situaciones prácticas. El matemático
                Florentín Smarandache él había generalizado la Lógica Difusa
                (LD), e indujo dos conceptos: Neutrosofía estudia las
                neutralidades como es la extensión de la dialéctica; y su
                derivado Neutrosófico que se deriva de la siguiente manera
              </p>
              <img
                src="/static/imagenes/neutrosofia.png"
                width="242px"
                height="110px"
              />
              <p>
                Que comenzaron a expandirse nuevas vías de investigaciones en el
                campo como lo es: filosofía, lógica, teoría de conjuntos,
                probabilidad y estadística la teoría Neutrosófica aplicada en
                diferentes campos para resolver problemas relacionados con la
                indeterminación.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <!-- <div id="menuSlide">
        <a href="#">1</a>
        <a href="motos.html">2</a>
        <a href="computadoras.html">3</a>
        <a href="cocinas.html">4</a>
        <a href="televisores.html">5</a>
        <a href="impresoras.html">6</a>
      </div> -->
  </section>
</main>

{% endblock%}
