<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<!-- ASIDE DE CATALOGO -->
<div>
    <div class="lead" style=" background: gray;
    padding-top: 35px;
    padding-bottom: 35px;">
        Prototipo de un tutor inteligente para el desarrollo de sistemas 
        de razonamiento apróximado bajo incertidumbre en Python
    </div>
    <div class="lead" style="padding-top: 35px; padding-bottom: 35px;">
        <div> Caso de estudio</div>   Muertes por COVID-19
    </div>
    <div> aqui va la tabla</div>

    
</br></br></br></br>
    aqui va el desarrollo 
    <a class="btn btn-dark" href="{{ url_for('sistemas') }}" role="button">Resultados</a>
</br></br></br></br>
<a class="btn btn-dark" href="https://colab.research.google.com/drive/16W9rP5sWlXSupuF36mtSR9oNMckdGL7S#scrollTo=C74GP0t9gFXR" role="button">Algoritmo</a>
</div>


{% endblock%}
